$grey-text: #878d92;

// Bootstrap variables
$font-family-sans-serif: "Roboto", sans-serif;

$text-color: $grey-text;

// Layout variables
$container: 1200px;

// theme colors
$theme-primary--color: #2098c7 !default;

$theme-links--color: #fff;

$theme-white--color: #fff; 
$theme-blue--color: #2098c7;
$theme-grey--elements: #9d9d9d;

// Theme variables
$theme-border--width: 2px !default;

// State colors
$theme-focus--color: #EEFF41;

$theme-hover--color: #fff;
$theme-invert-hover--color: #fff;
$status-online--color: #9dc63f;
$status-offline--color: #db1d40;

// Elements colors
$body-bg--color: #f0f0f0;
$submenu-bg--color: #fff;
$submenu-links--color: #000;
$slider-button--color: #fff;

// theme margins/paddings
$menu-margin-top: 60px;
$menulinks-margin-between: 80px;
$menulinks-padding-bottom: 15px;
$menulinks-padding-left: 10px;
$menulinks-padding-right: 10px;

$small-button--paddings: 4px 10px !default;
$medium-button--paddings: 15px 25px !default;